*{margin: 0;padding: 0;box-sizing: border-box;}
body{background: linear-gradient(#343a40,#6c757d) ; height: 100vh;width: 100%;}
.gallery-parent{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(4,22%) ;
    height: 100vh;
    grid-gap: 15px;
    margin: 10px;
}
.image1{background-color: aliceblue; width: 100%; height: 100%; border-radius: 3px; cursor:pointer;}
.overlay{width: 100%;height: 100%; background: rgba(0, 0, 0, 0.384); visibility: visible;}
.image1:hover .overlay{ visibility: hidden; transition: .5s;opacity: 0; }
.image1:hover{width: 102%; height: 103%; transition: 1s; border: 1.3px solid #fff; box-shadow: -4px 4px 10px 5px #000000;}
.first{ grid-column: 1/4 ; background: url(../pictur/3bb3d16e54d053827f994ad6119dfc55.jpg) bottom / cover no-repeat ; }
.second{grid-row: 1/3; grid-column: 4/5; background: url(../pictur/907b7cdfbff3574a20a243b7762bbc49.jpg) bottom / cover;}
.third{ background: url(../pictur/35e8e51b31462de97dbb1f21208f12af.jpg) center / cover;}
.fourth{ background: url(../pictur/126bdb9e7797f8778c09d7f876492c3b.jpg) center / cover;}
.fiveth{ background: url(../pictur/835a1fed201d84e67aacc523843d3e2e.jpg) center / cover;}
.sixth{ background: url(../pictur/76400d1164f25839573bdd40decf7f27.jpg) center / cover;}
.seventh{ background: url(../pictur/8f4ba80899a33b5486af8288b7aeed80.jpg) bottom / cover;}
.eighth{ background: url(../pictur/41841eea6f96542b37506cdf9ec37b64.jpg) center / cover;}
.ninth{ background: url(../pictur/b4f1458179d307293b3906adbf5e2baa.jpg) center / cover;}
.tenth{grid-column: 1/3; grid-row: 3/5; background: url(../pictur/03dbdfdf443a3f29d9463dd8865b1ad8.jpg) center / cover;}
.eleve{ background: url(../pictur/0ad55113704c20014c607631c8ab3f5e.jpg) center / cover;}
.twelve{ grid-column: 4/7; background: url(../pictur/91bc1e39eaa64ed2c90c6fe27db968a9.jpg) center / cover;}
.threeten{background: url(../pictur/7465b0599580b1e02e4c62b48fd29310.jpg) center / cover;}
.fourteen{grid-column: 4/6; background: url(../pictur/60d68d8b8f1cb5b4265cc364910b6521.jpg) center / cover;}
.fiveteen{background: url(../pictur/f7ddc0e7aba00bccc57e7f22f4ff19d8.jpg) center / cover;}